﻿@model MiAgenda.Models.Tareas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <h2 class="text-warning">Editando tarea</h2>
    <hr />
    <div id="content">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.tarea_id)
            <div class="form-group">
                @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control", placeholder = "Titulo" } })
                @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
            </div>
            @if (ViewBag.error != null)
            {
                <p class="text-danger">@ViewBag.error</p>
            }
            <div class="container-fluid">
                <div class="row">
                    <div class="mx-auto">
                        <div class="volverInicio">
                            <a class="btn btn-light" href="@Url.Action("Index", new { lista_id = Model.lista_id })">Volver a las tareas</a>
                        </div>
                        <div class="btnEntrar ml-1">
                            <input type="submit" value="Guardar" class="btn btn-warning" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
