﻿@model IEnumerable<MiAgenda.Models.Tareas>
@using System.Text.RegularExpressions
@using MiAgenda.Models
@{
    ViewBag.Title = "Lista " + (Session["lista"] as ListasTareas).nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/IndexCalendario.css" rel="stylesheet" />
@{
    string uAg = Request.ServerVariables["HTTP_USER_AGENT"];
    Regex regEx = new Regex(@"android|iphone|ipad|ipod|blackberry|symbianos", RegexOptions.IgnoreCase);
    bool isMobile = regEx.IsMatch(uAg);

    if (isMobile)
    {
        <div class="text-center">
            <h2>Tareas de @((Session["lista"] as ListasTareas).nombre)</h2>
            <a class="btn btn-light" href="@Url.Action("Index", "ListasTareas")">Volver a las listas</a>
            @Html.ActionLink("Crear tarea", "Create", null, new { @class = "btn btn-warning" })
        </div>
    }
    else
    {
        <h2 class="text-center">Tareas de @((Session["lista"] as ListasTareas).nombre)</h2>
        <div class="bg-white">
            <div class="row m-1">
                <a class="btn btn-light ml-auto" href="@Url.Action("Index", "ListasTareas")">Volver a las listas</a>
                @Html.ActionLink("Crear tarea", "Create", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    }
}

@if (Model != null && Model.Count() != 0)
{
    <table class="table table-striped table-borderless text-center border border-warning rounded-bottom">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th class="text-center">
                Acciones
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="m-auto">
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td class="m-auto">
                    @Html.ActionLink(item.estado ? "✔ " + "Marcar como Pendiente" : "✗ " + "Marcar como Hecho", "Done", "Tareas", new { id = item.tarea_id }, new { @class = item.estado ? "btn btn-success" : "btn btn-danger" })
                </td>
                <td class="m-auto">
                    <a id="@item.tarea_id" href="@Url.Action("Edit", "Tareas", new { id = item.tarea_id })">Editar</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4 class="text-center">No hay tareas.</h4>
}
