﻿@model MiAgenda.Models.Eventos

@{
    ViewBag.Title = "Crear evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/CreateEvent.js"></script>

@using (Html.BeginForm("Create", "Events", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-center">Crear Evento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblTipo" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Tipo, (List<SelectListItem>)ViewBag.Tipo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblTitulo" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblDescripcion" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Empieza, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblEmpieza" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Empieza, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control default-date-picker" } })
                @Html.ValidationMessageFor(model => model.Empieza, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Termina, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblTermina" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Termina, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control default-date-picker" } })
                @Html.ValidationMessageFor(model => model.Termina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaEvento, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblFechaEvento" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaEvento, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control datepicker", Value = @ViewData["fechaActual"], @type = "date" } })
                @Html.ValidationMessageFor(model => model.FechaEvento, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<@*div class="form-group">
                @Html.LabelFor(model => model.TodoElDia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TodoElDia, (List<SelectListItem>)ViewBag.TodoElDia, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TodoElDia, "", new { @class = "text-danger" })
                    <div class="checkbox">
                            @Html.EditorFor(model => model.TodoElDia)
                            @Html.ValidationMessageFor(model => model.TodoElDia, "", new { @class = "text-danger" })
                        </div>
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al calendario", "Home", "Users")
</div>
