﻿@using MiAgenda.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/layout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-warning navbar-light">
            <div class="container">
                @*@Html.ActionLink("Mi Agenda", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Mi Agenda", "Index", "Home", null, new { @class = "navbar-brand" })
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav">
                        @*<li class="nav-item active">@Html.ActionLink("Mi Agenda", "Index", "Home", null, new { @class = "navbar-brand" })</li>*@
                        @{
                            if (Session["userMiAgenda"] != null)
                            {
                                <li class="nav-item">
                                    @Html.ActionLink("Mis calendarios", "Index", "Calendarios", null, new { @class = "nav-link text-dark" })
                                    @*<a class="nav-link text-dark" href="@Url.Action("Index","Calendarios")">Mis calendarios</a>*@
                                </li>
                                <li class="nav-item">@Html.ActionLink("Mis listas de tareas", "Index", "ListasTareas", null, new { @class = "nav-link text-dark" })</li>
                                <li class="nav-item">@Html.ActionLink("Chat", "Index", "Chat", null, new { @class = "nav-link text-dark" })</li>
                                @*<li class="nav-item">
                                    @{
                                        var juegos = new List<SelectListItem>()
                                                                                                                                                                                                                                                                                                                                        {
                                            new SelectListItem { Text = "Tres en Raya", Value = "/Juegos/TresEnRaya" }
                                        };
                                    }
                                    <div class="dropdown text-dark">
                                        @BootstrapHtml.Dropdown("Juegos", juegos, "Juegos")
                                    </div>
                                </li>*@
                            }
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (Session["userMiAgenda"] != null)
                        {
                            <li>
                                @Html.ActionLink("Hola " + ((Usuarios)Session["userMiAgenda"]).usuario + "!", "Index", "Calendarios", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-warning" })
                            </li>
                            <li>@Html.ActionLink("Desconectarse", "Logout", "Users", null, new { @class = "btn btn-light ml-2" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Entrar", "Login", "Users", null, new { @class = "btn btn-warning" })</li>
                            <li>@Html.ActionLink("Registrarse", "Register", "Users", null, new { @class = "btn btn-light ml-2" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content p-0" style="margin-top:5%;">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>
