﻿@using Microsoft.AspNet.Identity
@using MiAgenda.Models;
@if (Session["userMiAgenda"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + ((Usuarios)Session["userMiAgenda"]).usuario + "!", "Index", "Calendarios", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        <li>@Html.ActionLink("Desconectarse", "Logout", "Users")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Entrar", "Login", "Users")</li>
        <li>@Html.ActionLink("Registrarse", "Register", "Users")</li>
    </ul>
}

