﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>@ViewBag.titulo</h1>

        @if (ViewBag.descripcion != null)
        {
            <h2>@ViewBag.descripcion</h2>
        }

    </hgroup>
</body>
</html>
