﻿#loaderContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
