﻿/*NAVEGACION*/

.nav.navbar-nav.navbar-right li a, navbar-brand {
    color: black !important;
}

    .nav.navbar-nav.navbar-right li a:hover {
        background-color: gray;
    }

.navbar {
    background-color: orange;
}

.navbar-header a{
    color: black !important;
}

.icon-bar {
    background-color: black !important;
}

.collapse a {
    color: black !important;
}

.navbar-collapse a:hover {
    background-color: gray !important;
}


/*BOTONES*/
.btn-default {
    background-color: orange !important;
    color: black;
}

    .btn-default:hover {
        background-color: white !important;
    }

/*TABLA*/

.tableOrange tr {
    background-color: white;
}

.tableOrange tr:nth-child(even) {
}

.tableOrange tr:hover {
    background-color: orange !important;
}

.tableOrange a {
    color: black;
}

    .tableOrange a:hover {
        text-decoration: none;
        color: black;
        font-style: italic;
    }
