﻿.btnCrear{
    text-align: right;
    margin-bottom: 10px;
    margin-top: 20px;
}

a, a:active, a:visited{
    color: black;
    text-decoration: none;
}

    a:hover {
        color: black;
        font-style: italic;
        text-decoration: none;
    }
