﻿.btnEntrar {
    float: right;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 20px;
}

.titulo {
    margin: auto;
    text-align: center;
}

.volverInicio {
    float: left;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
}

form {
    padding: 15px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    max-width: 500px;
    min-width: 200px;
    width: auto;
}
