﻿#tablero {
    margin: auto;
    background-color: black;
    display: flex;
    width: 260px;
}

.pelota {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 5px 5px;
    background-color: white;
}

#controles {
    position: relative;
}

h1 {
    text-align: center;
}

#fin {
    text-align: center;
}

#turno {
    text-align: center;
}
