﻿@model IEnumerable<MiAgenda.Models.Chats>
@{
    /**/

    /**/

    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/chat.css" rel="stylesheet" />

<div class="loader"></div>

<div class="container p-0" id="chatPage" style="display:none;">
    <input type="hidden" value="@ViewBag.username" id="usuario" />
    @*<div class="row">&nbsp;</div>*@
    <div class="row">
        @*<input type="button" id="createGroupButton" value="Crear grupo" class="btn btn-success" />*@
        @*<input type="button" id="addFriendButton" value="Agregar amigo" class="btn btn-warning ml-2" />*@
        <input type="button" id="btnGrupos" value="Grupos" class="btn btn-secondary ml-2" />
        <input type="button" id="btnAmigos" value="Amigos" class="btn btn-secondary ml-2" />
        <input type="button" id="btnVerPersonasGrupo" value="Ver personas del grupo" class="btn btn-primary ml-2" />
    </div>
    <div class="container-fluid" id="listaGrupos">
        <hr />
        <div class="row">
            <div class="ml-0">
                <h4>Mis grupos</h4>
            </div>
            <div class="ml-auto">
                <input type="button" id="createGroupButton" value="Crear grupo" class="btn btn-warning" />
            </div>
        </div>
        <div class="row flex-row flex-nowrap pre-scrollable mt-2" id="grupos">
        </div>
    </div>
    <div class="container-fluid" id="listaAmigos">
        <hr />
        <div class="row">
            <div class="ml-0">
                <h4>Mis amigos</h4>
            </div>
            <div class="ml-auto">
                <input type="button" id="addFriendButton" value="Agregar amigo" class="btn btn-warning mr-auto" />
            </div>
        </div>
        <div class="row flex-row flex-nowrap pre-scrollable mt-2" id="amigos">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div id="chat">
            <span id="tipoMensaje" class="ml-0"></span>
            <div class="pre-scrollable h-100">
                <div id="content">
                    <ul id="messagesList" style="list-style:none;" class="p-2"></ul>
                </div>
            </div>
            <form onsubmit="sendMessage()" class="text-right mt-2">
                <div class="row">
                    <div class="col-10">
                        <input type="text" id="messageInput" class="form-control" autocomplete="off" />
                    </div>
                    <div class="col-2">
                        <input type="submit" id="sendButton" value="Enviar" class="btn btn-light" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* Crear grupo *@
<div id="modalCrearGrupo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle">Creando Grupo</span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form onsubmit="crearGrupo(); return false;">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2">
                            <label class="text-left m-auto p">Nombre </label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="txtNombreGrupo" class="form-control" />
                        </div>
                    </div>
                    <p class="text-danger" id="txtError"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnCrearGrupo">Crear</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* Invitar a grupo *@
<div id="modalInvitarAGrupo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="tituloInvitarAGrupo"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form onsubmit="invitarAGrupo(); return false;">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2">
                            <label class="text-left m-auto p">Nombre </label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="txtNombreUsuario" class="form-control" />
                        </div>
                    </div>
                    <p class="text-danger" id="txtError"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnInvitarAGrupo">Invitar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* Agregar amigo *@
<div id="modalAgregarAmigo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="tituloAgregarAmigo"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form onsubmit="agregarAmigo(); return false;">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2">
                            <label class="text-left m-auto p">Nombre </label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="txtNombreAmigo" class="form-control" />
                        </div>
                    </div>
                    <p class="text-danger" id="txtError"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Agregar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* Mostrar personas del grupo *@
<div id="modalPersonasGrupo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Personas en el grupo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <ul id="listaPersonasGrupo"></ul>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <a class="btn btn-success" href="#" id="btnInvitar" alt="Añadir persona"><img src="~/resources/Images/add-user-button.png" /></a>
                    <a class="btn btn-danger ml-2" href="#" id="btnEliminar" alt="Eliminar persona"><img src="~/resources/Images/remove-user.png" /></a>
                    <button type="button" class="btn btn-warning ml-2 mr-2" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* Registrar usuario *@
<div id="modalRegistrar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registro</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form onsubmit="register(); return false;">
                <div class="modal-body">
                    <input type="email" placeholder="Email" name="email" class="form-control" id="userEmail" autocomplete="off">
                    <input type="text" placeholder="Nombre de usuario" name="username" class="form-control mt-2" id="userName" autocomplete="off">
                    <input type="password" placeholder="Contraseña" name="password" class="form-control mt-2" id="userPassword" autocomplete="off">
                    <input type="password" placeholder="Repetir contraseña" name="repeatPassword" class="form-control mt-2" id="userRepeatPassword" autocomplete="off">
                    <p class="text-danger" id="txtErrorRegister"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnRegister">Agregar</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@* Login *@
<div id="modalLogin" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form onsubmit="connect(); return false;">
                <div class="modal-body">
                    <input type="text" placeholder="Nombre de usuario" name="username" class="form-control mt-2" id="userNameLogin" autocomplete="off">
                    <input type="password" placeholder="Contraseña" name="password" class="form-control mt-2" id="userPasswordLogin" autocomplete="off">
                    <p class="text-danger" id="txtErrorRegister"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="btnLogin">Login</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="signalr/hubs"></script>
<script src="~/Scripts/chat.js"></script>