﻿@model MiAgenda.Models.ListasTareas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />

@using (Html.BeginForm("Edit", "ListasTareas", FormMethod.Post, new { @class = "border border-warning" }))
{
    <div class="titulo">
        <h2 class="text-warning">Editando lista @Model.nombre</h2>
    </div>
    <hr />
    <div id="content" class="m-3">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.lista_id)
            <div class="form-group row">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
            @if (ViewBag.error != null)
            {
                <p class="text-danger">@ViewBag.error</p>
            }
            <div class="container-fluid">
                <div class="row">
                    <div class="mx-auto">
                        <div class="volverInicio">
                            <a class="btn btn-light" href="@Url.Action("Index", "ListasTareas")">Volver a las listas</a>
                        </div>
                        <div class="btnEntrar ml-1">
                            <input type="submit" value="Guardar" class="btn btn-warning" id="btnSubmit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
