﻿@model IEnumerable<MiAgenda.Models.ListasTareas>
@using System.Text.RegularExpressions
@using MiAgenda.Models
@{
    ViewBag.Title = "Mis listas de tareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/IndexCalendario.css" rel="stylesheet" />
<br />
@{
    string uAg = Request.ServerVariables["HTTP_USER_AGENT"];
    Regex regEx = new Regex(@"android|iphone|ipad|ipod|blackberry|symbianos", RegexOptions.IgnoreCase);
    bool isMobile = regEx.IsMatch(uAg);

    if (isMobile)
    {
        <div class="text-center">
            <h2>Mis listas de tareas</h2>
            @Html.ActionLink("Crear lista", "Create", null, new { @class = "btn btn-warning" })
        </div>
    }
    else
    {
        <h2 class="text-center">Mis listas de tareas</h2>
        <div class="bg-white">
            <div class="row m-1">
                @Html.ActionLink("Crear lista", "Create", null, new { @class = "btn btn-warning ml-auto" })
            </div>
        </div>
    }
}

@if (Model != null && Model.Count() != 0)
{
    <table class="table table-striped table-borderless text-center border border-warning">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th class="text-center">
                Acciones
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a href="#" id="@item.lista_id" onclick="abrirLista">@item.nombre.ToUpper()</a>*@
                    @Html.ActionLink(item.nombre.ToUpper(), "Index", "Tareas", new { lista_id = item.lista_id }, null)
                </td>
                <td>
                    @{
                        var listaUsuario = item.ListasTareasUsuariosSet.Where(x => x.lista_id == item.lista_id && (Session["userMiAgenda"] as Usuarios).user_id == x.user_id).FirstOrDefault();
                        @*<a id="@item.lista_id" href="@Url.Action("Details", "ListasTareas", new { id = item.lista_id })">Detalles</a>*@
                        if (listaUsuario.creador)
                        {
                            <a class="btnEliminar" id="@item.lista_id" href="#" onclick="eliminar(@item.lista_id)">Eliminar</a>
                            <a class="btnInvitar" id="@item.lista_id" href="#">| Invitar |</a>
                        }
                        <a id="@item.lista_id" href="@Url.Action("Edit", "ListasTareas", new { id = item.lista_id })"> Editar</a>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4 class="text-center">No hay listas.</h4>
}

@* Invitar a usuario al calendario *@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle">Invitando</span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtListaID" />
                <input type="text" id="txtNombre" class="form-control" placeholder="Nombre del usuario"/>
                <p class="text-danger" id="txtError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnInvitar">Invitar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btnInvitar').click(function (e) {
            $('#txtListaID').val(this.id);
            $('#txtError').hide();
            $('#txtEmail').val('');
            $('#myModal').modal();
        });
        $('#btnInvitar').click(function (e) {
            var nombre = $('#txtNombre').val();
            var lista_id = +$('#txtListaID').val();
            $.ajax({
                type: "POST",
                url: "/ListasTareas/AddUserToList",
                data: { 'lista_id': lista_id, 'nombre': nombre },
                success: function (data) {
                    $('#myModal').modal('hide');
                },
                error: function (error) {
                    if (error.status == 404) {
                        $('#txtError').show();
                        $('#txtError').text('El usuario introducido no existe.');
                    } else if (error.status == 400) {
                        $('#txtError').show();
                        $('#txtError').text('El usuario introducido no es valido.');
                    } else if (error.status == 300) {
                        $('#txtError').show();
                        $('#txtError').text('El usuario con este nombre ya esta invitado.');
                    } else {
                        alert('failed to invite');
                    }
                }
            })
        });
    });
    function eliminar(id) {
        //alert(id);
        if (confirm("¿Estas seguro/a?")) {
            $.ajax({
                type: "POST",
                url: "/ListasTareas/DeleteList/" + id,
                success: function (data) {
                    location.reload()
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
        }
    }
    @*function abrirLista() {
        var lista_id = +$('#txtListaID').val();
        $.ajax({
            type: "GET",
            url: "/Tareas/" + lista_id,
            success: function (data) {
                @ViewBag.tareas = data
                $('#modalTareas').modal();
            },
            error: function (error) {
                alert(error.responseText);
            }
        })*@

</script>
