﻿
@{
    ViewBag.Title = "TresEnRaya";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/tresEnRaya.css">
<script src="~/Scripts/tresEnRaya.js" type="text/javascript"></script>
<h1>TRES EN RAYA</h1><hr>
<h2 id="turno"></h2>
<div id="tablero" class="tablero">
</div>
<h2 id="fin"></h2>

