﻿@model MiAgenda.Models.Calendarios

@{
    ViewBag.Title = "Crear formulario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "Calendarios", FormMethod.Post, new { @class = "border border-warning" }))
{
    <div class="titulo">
        <h2 class="text-warning">Nuevo calendario</h2>
    </div>
    <hr />
    <div id="content" class="m-3">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @*@Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Nombre del calendario" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
            @if (ViewBag.error != null)
            {
                <p class="text-danger">@ViewBag.error</p>
            }
            <div class="container-fluid">
                <div class="row">
                    <div class="mx-auto">
                        <div class="volverInicio">
                            <a class="btn btn-light" href="@Url.Action("Index", "Calendarios")">Volver a la lista de calendarios</a>
                        </div>
                        <div class="btnEntrar ml-1">
                            <input type="submit" value="Crear" class="btn btn-warning" id="btnSubmit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
