﻿@model MiAgenda.Models.Calendarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />
@*<br />

    <h3>Usuarios</h3>
    <ul>
        @foreach (var calendarioUsuario in Model.CalendariosUsuariosSet)
        {

            if (!calendarioUsuario.creador)
            {
                <li>
                    @calendarioUsuario.Usuarios.usuario &#128100;
                </li>
            }
            else
            {
                <li>
                    @calendarioUsuario.Usuarios.usuario &#10022;
                </li>
            }
        }
    </ul>
    <p>
        @Html.ActionLink("Volver a la lista de calendarios", "Index", null, new { @class = "btn btn-default" })
    </p>*@

<form class="border border-warning">
    <div class="titulo">
        <h2 class="text-warning">Detalles de @Model.nombre</h2>
    </div>
    <hr />
    <div id="content" class="m-3">
        <div class="form-horizontal">
            <div class="form-group row">
                <h3>Usuarios</h3>
            </div>
            <div class="form-group row">
                <ul>
                    @foreach (var calendarioUsuario in Model.CalendariosUsuariosSet)
                    {

                        if (!calendarioUsuario.creador)
                        {
                            <li>
                                @calendarioUsuario.Usuarios.usuario &#128100;
                            </li>
                        }
                        else
                        {
                            <li>
                                @calendarioUsuario.Usuarios.usuario &#10022;
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="mx-auto">
                        <div class="volverInicio">
                            <a class="btn btn-light" href="@Url.Action("Index", "Calendarios")">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
