﻿@model MiAgenda.Models.Calendarios

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@*<h2>No disponible</h2>*@

<h3>Usuarios</h3>
<ul>
    @foreach (var calendarioUsuario in Model.CalendariosUsuariosSet)
    {

        if (!calendarioUsuario.creador)
        {
            <li>
                @calendarioUsuario.Usuarios.usuario 
                <a id="@calendarioUsuario.user_id" href="#" onclick="eliminar(@calendarioUsuario.calendario_id, @calendarioUsuario.user_id)">&#x274C;</a>
            </li>
        }
        else
        {
            <li>
                @calendarioUsuario.Usuarios.usuario
            </li>
        }
    }
</ul>

@*<table>
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>*@

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Calendarios</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.calendario_id)

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

<div>
    @Html.ActionLink("Volver a la lista de calendarios", "Index", null, new { @class = "btn btn-default" })
</div>

<script>
    function eliminar(calendario_id, user_id) {
        $.ajax({
            type: "POST",
            url: "/Calendarios/RemoveUserFromCalendar",
            data: { 'calendario_id': calendario_id, 'user_id': user_id },
            success: function (data) {
                location.reload()
            },
            error: function (error) {
                if (error.status == 404) {
                    $('#txtError').show();
                    $('#txtError').text(error.statusText);
                } else if (error.status == 400) {
                    $('#txtError').show();
                    $('#txtError').text('El email introducido no es valido.');
                } else {
                    alert('error al eliminar al usuario');
                }
            }
        })
    }
</script>