﻿@model IEnumerable<MiAgenda.Models.Calendarios>
@using System.Text.RegularExpressions
@using MiAgenda.Models
@{
    /**/

    /**/

    ViewBag.Title = "Mis calendarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/IndexCalendario.css" rel="stylesheet" />
<br />
@{
    string uAg = Request.ServerVariables["HTTP_USER_AGENT"];
    Regex regEx = new Regex(@"android|iphone|ipad|ipod|blackberry|symbianos", RegexOptions.IgnoreCase);
    bool isMobile = regEx.IsMatch(uAg);

    if (isMobile)
    {
        <div class="text-center mb-2">
            <h2>Mis calendarios</h2>
            @Html.ActionLink("Crear calendario", "Create", null, new { @class = "btn btn-outline-warning" })
        </div>
    }
    else
    {
        <h2 class="text-center">Mis calendarios</h2>
        <div class="bg-white rounded-top">
            <div class="row m-1">
                @*<h2>Mis calendarios</h2>*@
                @Html.ActionLink("Crear calendario", "Create", null, new { @class = "btn btn-warning ml-auto" })
            </div>
        </div>
    }
}


@if (Model != null && Model.Count() != 0)
{
    <table class="table table-striped table-borderless text-center border border-warning">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th class="text-center">
                Acciones
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.nombre, "Home", "Users", new { calendario = item.calendario_id }, null)
                </td>
                <td>
                    @{
                        var calendarioUsuario = item.CalendariosUsuariosSet.Where(x => x.calendario_id == item.calendario_id && (Session["userMiAgenda"] as Usuarios).user_id == x.user_id).FirstOrDefault();
                        <a id="@item.calendario_id" href="@Url.Action("Details", "Calendarios", new { id = item.calendario_id })">Detalles</a>
                        if (calendarioUsuario.creador)
                        {
                            <a id="@item.calendario_id" href="@Url.Action("Edit", "Calendarios", new { id = item.calendario_id })">| Editar</a>
                            <a class="btnEliminar" id="@item.calendario_id" href="#" onclick="eliminar(@item.calendario_id)">| Eliminar</a>
                            <a class="btnInvitar" id="@item.calendario_id" href="#">| Invitar</a>
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <h4>No hay calendarios.</h4>
}

@* Invitar a usuario al calendario *@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle">Invitando</span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtCalendarioID" />
                @*<label>Email </label>*@
                <input type="text" id="txtEmail" class="form-control" placeholder="Email del invitado" />
                <p class="text-danger" id="txtError"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnInvitar">Invitar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btnInvitar').click(function (e) {
            $('#txtCalendarioID').val(this.id);
            $('#txtError').hide();
            $('#txtEmail').val('');
            $('#myModal').modal();
        });
        $('#btnInvitar').click(function (e) {
            var email = $('#txtEmail').val();
            var calendario_id = +$('#txtCalendarioID').val();
            $.ajax({
                type: "POST",
                url: "/Calendarios/AddUserToCalendar",
                data: { 'calendario_id': calendario_id, 'emailUsuarioNuevo': email },
                success: function (data) {
                    $('#myModal').modal('hide');
                },
                error: function (error) {
                    if (error.status == 404) {
                        $('#txtError').show();
                        $('#txtError').text('El email introducido no existe.');
                    } else if (error.status == 400) {
                        $('#txtError').show();
                        $('#txtError').text('El email introducido no es valido.');
                    } else if (error.status == 300) {
                        $('#txtError').show();
                        $('#txtError').text('El usuario con este email ya esta invitado.');
                    } else {
                        alert('failed to invite');
                    }
                }
            })
        });
    });
    function eliminar(id) {
        //alert(id);
        if (confirm("¿Estas seguro/a?")) {
            $.ajax({
                type: "POST",
                url: "/Calendarios/DeleteCalendar/" + id,
                success: function (data) {
                    location.reload()
                },
                error: function (error) {
                    alert(error.responseText);
                }
            })
        }
    }
</script>
