﻿@model IEnumerable<MiAgenda.Models.Calendarios>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.calendario_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.calendario_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.calendario_id })
        </td>
    </tr>
}

</table>
