﻿@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron text-center">
    <img src="~/Resources/Images/MiAgenda.png" style="width:25rem;height:25rem;" />
</div>
<p class="lead">
    Mi Agenda es una web que te puede ayudar en tu dia a dia organizando todas las tareas que tengas en uno o varios calendarios.
    Esos calendarios tambien los puedes compartir con otras personas que esten registradas en la web.
</p>
