﻿@model IEnumerable<MiAgenda.Models.Usuarios>
@using System.Text.RegularExpressions
@{
    ViewBag.Title = "Calendario " + @ViewBag.calendario;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2 class="text-warning">@ViewBag.calendario</h2>
    @{
        string uAg = Request.ServerVariables["HTTP_USER_AGENT"];
        Regex regEx = new Regex(@"android|iphone|ipad|ipod|blackberry|symbianos", RegexOptions.IgnoreCase);
        bool isMobile = regEx.IsMatch(uAg);

        if (isMobile)
        {
            <a class="btn btn-default" id="btnCrear">Crear Evento</a>
        }
    }
    <hr />
    <div id="calender"></div>
</div>

@* Informacion sobre el evento *@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle">Detalles del evento</span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <div class="ml-5">
                    <button type="button" class="btn btn-success btn-sm" id="btnHecho">✔ Hecho</button>
                    <button id="btnEditar" class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Editar
                    </button>
                    <button id="btnEliminar" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                        ✗ Eliminar
                    </button>
                </div>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@* Editar el evento *@
<div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="tituloEditar"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="EventoID" value="0" />
                    <input type="hidden" id="Calendario" value="@ViewBag.calendario" />
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" id="comboTipo">
                            <option value="1" selected>Normal</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Titulo</label>
                        <input type="text" id="txtTitulo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input type="text" id="txtDescripcion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Fecha Evento</label>
                        <div class="input-group date" id="dp1">
                            <input type="text" id="txtFechaEvento" class="form-control" disabled />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div>
                        <label>Hora Evento</label>
                        <div class="input-group date" id="tp1">
                            <input data-format="hh:mm" type="text" id="txtHoraEvento" class="form-control" placeholder="HH:mm" value="@DateTime.Now.TimeOfDay" />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-time"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnGuardar">✔ Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="~/Content/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src='~/Content/fullcalendar/locale/es.js'></script>
    <script type="text/javascript" src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src='~/Scripts/Calendario.js'></script>
}