﻿@model MiAgenda.Models.Usuarios

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Users", FormMethod.Post, new { @class = "border border-warning" }))
{
    <div class="titulo">
        <h2 class="text-warning">Entrar</h2>
    </div>
    <hr />
    <div id="content" class="m-3">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @*@Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Usuario" } })
                @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                @*@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password", placeholder = "Contraseña" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
            @if (ViewBag.error != null)
            {
                <p class="text-danger">@ViewBag.error</p>
            }
            <div class="container-fluid">
                <div class="row">
                    <div class="mx-auto">
                        <div class="volverInicio">
                            <a class="btn btn-light" href="@Url.Action("Index", "Home")">Volver al inicio</a>
                        </div>
                        <div class="btnEntrar ml-1">
                            <input type="submit" value="Entrar" class="btn btn-warning" id="btnSubmit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
